# .npmrc
enable-pre-post-scripts=true

# Approuver les scripts de build pour Prisma et bcrypt
# (pnpm 10 bloque tout par défaut — sécurité)
approve-builds=@prisma/client,@prisma/engines,prisma,bcrypt

onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=bcrypt